{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `ActivityService` endpoints in the `BungieNetPlatform` API<br/><br/>Official Documentation: https://www.bungie.net/platform/activity/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform ActivityService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieApiKey": {
            "type": "apiKey",
            "description": "Access to the BungieNetPlatform APIs requires an API Key to be passed as a header. Please specify your API Key here.",
            "in": "header",
            "name": "X-API-Key"
        },
        "BungieAuth": {
            "type": "oauth2",
            "description": "Some BungieNetPlatform API endpoints require you to login to a valid Bungie.net account. Any endpoint that has an open lock icon next to it requires this additional authentication. Click below to be taken to Bungie.net to login and authorize the dashboard to perform operations on your behalf.",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "security": [
        {
            "BungieApiKey": []
        }
    ],
    "host": "www.bungie.net",
    "basePath": "/Platform/Activity",
    "paths": {
        "/Tag/Follow/": {
            "post": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "FollowTag",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Follow/": {
            "post": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "FollowUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Activities/Application/{param2}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetApplicationActivityForUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Following/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetEntitiesFollowedByCurrentUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Following/V2/{param1}/{param2}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetEntitiesFollowedByCurrentUserV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Following/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetEntitiesFollowedByUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Following/V2/{param2}/{param3}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetEntitiesFollowedByUserV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Tag/Followers/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetFollowersOfTag",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "name": "itemsperpage",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{profileId}/Followers/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetFollowersOfUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "itemsperpage",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Activities/Forums/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetForumActivityForUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "itemsperpage",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Activities/ForumsV2/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetForumActivityForUserV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Friends/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetFriends",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Friends/AllNoPresence/{param1}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetFriendsAllNoPresence",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Friends/Paged/{membershipType}/{currentPage}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetFriendsPaged",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "membershipType",
                        "description": "A valid Bungie.net membershipType.",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "None",
                                "TigerXbox",
                                "TigerPsn",
                                "TigerBlizzard",
                                "TigerDemon",
                                "BungieNext",
                                "All"
                            ]
                        }
                    },
                    {
                        "in": "path",
                        "name": "currentPage",
                        "description": "The current page to return. Starts at 1.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Following/Groups/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetGroupsFollowedByCurrentUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Following/Groups/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetGroupsFollowedByUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Following/Groups/{param1}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetGroupsFollowedPagedByCurrentUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Following/Groups/Paged/{param2}/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetGroupsFollowedPagedByUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Activities/LikesAndShares/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetLikeAndShareActivityForUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "itemsperpage",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Activities/LikesAndSharesV2/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetLikeAndShareActivityForUserV2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Activities/LikeShareAndForum/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetLikeShareAndForumActivityForUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "currentpage",
                        "description": "The current page to return. Starts at 1.",
                        "type": "integer"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Following/Users/": {
            "get": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "GetUsersFollowedByCurrentUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Tag/Unfollow/": {
            "post": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "UnfollowTag",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/User/{param1}/Unfollow/": {
            "post": {
                "tags": [
                    "ActivityService"
                ],
                "operationId": "UnfollowUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BnetSuccess": {
            "type": "object",
            "properties": {
                "Response": {
                    "type": "object"
                },
                "ErrorCode": {
                    "type": "integer"
                },
                "ThrottleSeconds": {
                    "type": "integer"
                },
                "ErrorStatus": {
                    "type": "string"
                },
                "Message": {
                    "type": "string"
                },
                "MessageData": {
                    "type": "object"
                }
            }
        }
    }
}