{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `AdminService` endpoints in the `BungieNetPlatform`<br/><br/>Official Documentation: https://www.bungie.net/platform/admin/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform AdminService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieAuth": {
            "type": "oauth2",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "host": "www.bungie.net",
    "basePath": "/Platform/Admin",
    "paths": {
        "/Member/Search/": {
            "get": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "AdminUserSearch",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/BulkEditPost/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "BulkEditPost",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/GlobalHistory/{param1}/{param2}/": {
            "get": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetAdminHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "membershipFilter",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "name": "startdate",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "name": "enddate",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Assigned/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetAssignedReports",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/Reports/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetDisciplinedReportsForMember",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/RecentIncludingFlags/{param2}": {
            "get": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetRecentDisciplineAndFlagHistoryForMember",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Reports/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetResolvedReports",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/GetBanState/": {
            "get": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetUserBanState",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/PostHistory/{param2}/": {
            "get": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetUserPostHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/GetWebClientIpHistory/": {
            "get": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GetUserWebClientIpHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Ignores/GloballyIgnore/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "GloballyIgnoreItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/SetBan/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "OverrideBanOnUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Ignores/OverrideGlobalIgnore/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "OverrideGlobalIgnore",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/SetGroupWallBan/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "OverrideGroupWallBanOnUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Member/{param1}/SetMsgBan/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "OverrideMsgBanOnUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Reports/Overturn/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "OverturnReport",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Assigned/Resolve/": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "ResolveReport",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Assigned/ReturnAll": {
            "post": {
                "tags": [
                    "AdminService"
                ],
                "operationId": "ReturnAssignedReports",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}