{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `CoreService` endpoints in the `BungieNetPlatform`<br/><br/>Official Documentation: https://www.bungie.net/platform/core/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform CoreService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieAuth": {
            "type": "oauth2",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "host": "www.bungie.net",
    "basePath": "/Platform/Core",
    "paths": {
        "//GetAvailableLocales/": {
            "get": {
                "tags": [
                    "CoreService"
                ],
                "operationId": "GetAvailableLocales",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "//Settings/": {
            "get": {
                "tags": [
                    "CoreService"
                ],
                "operationId": "GetCommonSettings",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "//GlobalAlerts/": {
            "get": {
                "tags": [
                    "CoreService"
                ],
                "operationId": "GetGlobalAlerts",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "includestreaming",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "//Status/{param1}/": {
            "get": {
                "tags": [
                    "CoreService"
                ],
                "operationId": "GetSystemStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "//HelloWorld/": {
            "get": {
                "tags": [
                    "CoreService"
                ],
                "operationId": "HelloWorld",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}