{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `ForumService` endpoints in the `BungieNetPlatform` API<br/><br/>Official Documentation: https://www.bungie.net/platform/forum/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform ForumService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieApiKey": {
            "type": "apiKey",
            "description": "Access to the BungieNetPlatform APIs requires an API Key to be passed as a header. Please specify your API Key here.",
            "in": "header",
            "name": "X-API-Key"
        },
        "BungieAuth": {
            "type": "oauth2",
            "description": "Some BungieNetPlatform API endpoints require you to login to a valid Bungie.net account. Any endpoint that has an open lock icon next to it requires this additional authentication. Click below to be taken to Bungie.net to login and authorize the dashboard to perform operations on your behalf.",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "security": [
        {
            "BungieApiKey": []
        }
    ],
    "host": "www.bungie.net",
    "basePath": "/Platform/Forum",
    "paths": {
        "/Recruit/Approve/{param1}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "ApproveFireteamThread",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/ChangeLockState/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "ChangeLockState",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/ChangePinState/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "ChangePinState",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/CreateContentComment/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "CreateContentComment",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/CreatePost/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "CreatePost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Object to be posted",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "body": {
                                    "type": "string"
                                },
                                "category": {
                                    "type": "string"
                                },
                                "groupId": {
                                    "type": "string",
                                    "description": "A valid groupId."
                                },
                                "isGroupPrivate": {
                                    "type": "string"
                                },
                                "metadata": {
                                    "type": "string"
                                },
                                "parentPostId": {
                                    "type": "string"
                                },
                                "subTopicOverride": {
                                    "type": "string"
                                },
                                "subject": {
                                    "type": "string"
                                },
                                "urlLinkOrImage": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                },
                "security": [
                    {
                        "BungieAuth": []
                    }
                ]
            }
        },
        "/DeletePost/{param1}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "DeletePost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/EditPost/{param1}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "EditPost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetCoreTopicsPaged/{param1}/{param2}/{param3}/{param4}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetCoreTopicsPaged",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param4",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "locales",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetForumTagCountEstimate/{param1}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetForumTagCountEstimate",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetForumTagSuggestions/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetForumTagSuggestions",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "partialtag",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Poll/{param1}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetPoll",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetPopularTags/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetPopularTags",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "name": "tagsSinceDate",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetPostAndParent/{childPostId}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetPostAndParent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "childPostId",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "showbanned",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetPostAndParentAwaitingApproval/{childPostId}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetPostAndParentAwaitingApproval",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "childPostId",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "showbanned",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetPostsThreadedPaged/{parentPostId}/{page}/{pageSize}/{replySize}/{getParentPost}/{rootThreadMode}/{sortMode}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetPostsThreadedPaged",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "parentPostId",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "page",
                        "description": "The current page to return. Starts at 1.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "replySize",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "getParentPost",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "rootThreadMode",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "sortMode",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "showbanned",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetPostsThreadedPagedFromChild/{childPostId}/{page}/{pageSize}/{replySize}/{rootThreadMode}/{sortMode}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetPostsThreadedPagedFromChild",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "childPostId",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "page",
                        "description": "The current page to return. Starts at 1.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "replySize",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "rootThreadMode",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "sortMode",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "showbanned",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Recruit/Summaries/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetRecruitmentThreadSummaries",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetTopicForContent/{contentId}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetTopicForContent",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contentId",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetTopicsPaged/{page}/{pageSize}/{group}/{sort}/{quickDate}/{categoryFilter}/": {
            "get": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "GetTopicsPaged",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "page",
                        "description": "The current page to return. Starts at 1.",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "pageSize",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "group",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "quickDate",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "categoryFilter",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "tagstring",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    },
                    {
                        "name": "locales",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Recruit/Join/{param1}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "JoinFireteamThread",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Recruit/KickBan/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "KickBanFireteamApplicant",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Recruit/Leave/{param1}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "LeaveFireteamThread",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/MarkReplyAsAnswer/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "MarkReplyAsAnswer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Post/{param1}/GroupModerate/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "ModerateGroupPost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Post/{param1}/Moderate/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "ModeratePost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Tags/{param1}/Moderate/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "ModerateTag",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Poll/Vote/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "PollVote",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RatePost/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "RatePost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/UnmarkReplyAsAnswer/{param1}/": {
            "post": {
                "tags": [
                    "ForumService"
                ],
                "operationId": "UnmarkReplyAsAnswer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BnetSuccess": {
            "type": "object",
            "properties": {
                "Response": {
                    "type": "object"
                },
                "ErrorCode": {
                    "type": "integer"
                },
                "ThrottleSeconds": {
                    "type": "integer"
                },
                "ErrorStatus": {
                    "type": "string"
                },
                "Message": {
                    "type": "string"
                },
                "MessageData": {
                    "type": "object"
                }
            }
        }
    }
}