{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all GameService endpoints in the BungieNetPlatform",
        "version": "1.0.0",
        "title": "BungieNetPlatform API Swagger",
        "contact": {
            "name": "/r/DestinyTheGame",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieAuth": {
            "type": "oauth2",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "host": "www.bungie.net",
    "basePath": "/Platform",
    "paths": {
        "/Game/GetPlayerGamesById/{param1}/": {
            "get": {
                "tags": [
                    "GameService"
                ],
                "operationId": "GetPlayerGamesById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Game/ReachModelSneakerNet/{param1}/": {
            "post": {
                "tags": [
                    "GameService"
                ],
                "operationId": "ReachModelSneakerNet",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}