{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `IgnoreService` endpoints in the `BungieNetPlatform` API<br/><br/>Official Documentation: https://www.bungie.net/platform/ignore/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform IgnoreService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieAuth": {
            "type": "oauth2",
            "description": "Some BungieNetPlatform API endpoints require you to login to a valid Bungie.net account. Any endpoint that has an open lock icon next to it requires this additional authentication. Click below to be taken to Bungie.net to login and authorize the dashboard to perform operations on your behalf.",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "host": "www.bungie.net",
    "basePath": "/Platform/Ignore",
    "paths": {
        "/Flag/": {
            "post": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "FlagItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/MyIgnores/": {
            "post": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "GetIgnoresForUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/MyIgnores/Posts/{param1}/": {
            "get": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "GetIgnoreStatusForPost",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/MyIgnores/Users/{param1}/": {
            "get": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "GetIgnoreStatusForUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/ReportContext/{param1}/": {
            "get": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "GetReportContext",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/": {
            "post": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "IgnoreItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Object to be posted",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "ignoredItemId": {
                                    "type": "string",
                                    "description": "A valid ignoredItemId."
                                },
                                "ignoredItemType": {
                                    "type": "string",
                                    "description": "The type of item to ignore."
                                },
                                "comment": {
                                    "type": "string"
                                },
                                "reason": {
                                    "type": "string"
                                },
                                "itemContextId": {
                                    "type": "string"
                                },
                                "itemContextType": {
                                    "type": "string"
                                },
                                "ModeratorRequest": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/MyLastReport/": {
            "get": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "MyLastReport",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Unignore/": {
            "post": {
                "tags": [
                    "IgnoreService"
                ],
                "operationId": "UnignoreItem",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}