{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all JSONPService endpoints in the BungieNetPlatform",
        "version": "1.0.0",
        "title": "BungieNetPlatform API Swagger",
        "contact": {
            "name": "/r/DestinyTheGame",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieAuth": {
            "type": "oauth2",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "host": "www.bungie.net",
    "basePath": "/Platform",
    "paths": {
        "/JSONP/GetBungieNetUser/": {
            "get": {
                "tags": [
                    "JSONPService"
                ],
                "operationId": "GetCurrentUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}