{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `NotificationService` endpoints in the `BungieNetPlatform` API<br/><br/>Official Documentation: https://www.bungie.net/platform/notification/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform NotificationService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieApiKey": {
            "type": "apiKey",
            "description": "Access to the BungieNetPlatform APIs requires an API Key to be passed as a header. Please specify your API Key here.",
            "in": "header",
            "name": "X-API-Key"
        },
        "BungieAuth": {
            "type": "oauth2",
            "description": "Some BungieNetPlatform API endpoints require you to login to a valid Bungie.net account. Any endpoint that has an open lock icon next to it requires this additional authentication. Click below to be taken to Bungie.net to login and authorize the dashboard to perform operations on your behalf.",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "security": [
        {
            "BungieApiKey": []
        }
    ],
    "host": "www.bungie.net",
    "basePath": "/Platform/Notification",
    "paths": {
        "/Events/{param1}/{param2}/": {
            "get": {
                "tags": [
                    "NotificationService"
                ],
                "operationId": "GetRealTimeEvents",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetCount/": {
            "get": {
                "tags": [
                    "NotificationService"
                ],
                "operationId": "GetRecentNotificationCount",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/GetRecent/": {
            "get": {
                "tags": [
                    "NotificationService"
                ],
                "operationId": "GetRecentNotifications",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                },
                "security": [
                    {
                        "BungieAuth": []
                    }
                ]
            }
        },
        "/Reset/": {
            "get": {
                "tags": [
                    "NotificationService"
                ],
                "operationId": "ResetNotification",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                },
                "security": [
                    {
                        "BungieAuth": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "BnetSuccess": {
            "type": "object",
            "properties": {
                "Response": {
                    "type": "object"
                },
                "ErrorCode": {
                    "type": "integer"
                },
                "ThrottleSeconds": {
                    "type": "integer"
                },
                "ErrorStatus": {
                    "type": "string"
                },
                "Message": {
                    "type": "string"
                },
                "MessageData": {
                    "type": "object"
                }
            }
        }
    }
}