{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `TokensService` endpoints in the `BungieNetPlatform` API<br/><br/>Official Documentation: https://www.bungie.net/platform/tokens/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform TokensService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieApiKey": {
            "type": "apiKey",
            "description": "Access to the BungieNetPlatform APIs requires an API Key to be passed as a header. Please specify your API Key here.",
            "in": "header",
            "name": "X-API-Key"
        },
        "BungieAuth": {
            "type": "oauth2",
            "description": "Some BungieNetPlatform API endpoints require you to login to a valid Bungie.net account. Any endpoint that has an open lock icon next to it requires this additional authentication. Click below to be taken to Bungie.net to login and authorize the dashboard to perform operations on your behalf.",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "security": [
        {
            "BungieApiKey": []
        }
    ],
    "host": "www.bungie.net",
    "basePath": "/Platform/Tokens",
    "paths": {
        "/ApplyOfferToCurrentDestinyMembership/{param1}/{param2}/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "ApplyOfferToCurrentDestinyMembership",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RAF/BreakBond/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "BreakBond",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/ClaimAndApplyToken/{tokenType}/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "ClaimAndApplyOnToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tokenType",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Object to be posted",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "redeemCode": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/Claim/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "ClaimToken",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Object to be posted",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "redeemCode": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/ConsumeMarketplacePlatformCodeOffer/{param1}/{param2}/{param3}/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "ConsumeMarketplacePlatformCodeOffer",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/OfferHistory/": {
            "get": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "GetCurrentUserOfferHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                },
                "security": [
                    {
                        "BungieAuth": []
                    }
                ]
            }
        },
        "/ThrottleState/": {
            "get": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "GetCurrentUserThrottleState",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RAF/GetEligibility/": {
            "get": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "GetRAFEligibility",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/MarketplacePlatformCodeOfferHistory/": {
            "get": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "MarketplacePlatformCodeOfferHistory",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RAF/Claim/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "RAFClaim",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RAF/GenerateReferralCode/{param1}/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "RAFGenerateReferralCode",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RAF/GetNewPlayerBondDetails/": {
            "get": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "RAFGetNewPlayerBondDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/RAF/GetVeteranBondDetails/": {
            "get": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "RAFGetVeteranBondDetails",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        },
        "/VerifyAge/": {
            "post": {
                "tags": [
                    "TokensService"
                ],
                "operationId": "VerifyAge",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/BnetSuccess"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BnetSuccess": {
            "type": "object",
            "properties": {
                "Response": {
                    "type": "object"
                },
                "ErrorCode": {
                    "type": "integer"
                },
                "ThrottleSeconds": {
                    "type": "integer"
                },
                "ErrorStatus": {
                    "type": "string"
                },
                "Message": {
                    "type": "string"
                },
                "MessageData": {
                    "type": "object"
                }
            }
        }
    }
}