{
    "swagger": "2.0",
    "info": {
        "description": "Swagger documenation and interactive testing for all `TrendingService` endpoints in the `BungieNetPlatform`<br/><br/>Official Documentation: https://www.bungie.net/platform/trending/help",
        "version": "1.0.0",
        "title": "BungieNetPlatform TrendingService API",
        "contact": {
            "name": "TheRealBGoat",
            "email": "fake@email.com"
        },
        "license": {
            "name": "MIT",
            "url": "http://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "BungieAuth": {
            "type": "oauth2",
            "authorizationUrl": "https://www.bungie.net/en/OAuth/Authorize",
            "tokenUrl": "https://www.bungie.net/platform/app/oauth/token/",
            "flow": "accessCode",
            "scopes": {}
        }
    },
    "host": "www.bungie.net",
    "basePath": "/Platform/Trending",
    "paths": {
        "/Categories/": {
            "get": {
                "tags": [
                    "TrendingService"
                ],
                "operationId": "GetTrendingCategories",
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Categories/{param1}/{param2}/": {
            "get": {
                "tags": [
                    "TrendingService"
                ],
                "operationId": "GetTrendingCategory",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/Details/{param1}/{param2}/": {
            "get": {
                "tags": [
                    "TrendingService"
                ],
                "operationId": "GetTrendingEntryDetail",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        }
    }
}